.box-satu{
    background-color: #00a8ff;
    padding: 10px;
    width: 200px;
    text-align: center;
    margin: 10em;
}

.box-dua{
    background-color: #00a8ff;
    padding: 50px;
    width: 200px;
    text-align: center;
    margin: 10em;
}